.code {
    background-color: #1e1e1e;
    color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.code code {
    font-family: "Courier New", Courier, monospace;
    display: block;
}
